body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

.stopwatch {
    width: 180px;
    height: 210px;
    box-shadow: inset 0 0 12px 1px #000, inset 0 0 0 10px #606c78, 0 12px 14px #111;
    border-radius: 50px;
    background: radial-gradient(circle, rgb(71, 70, 70), rgb(15, 15, 15));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    box-sizing: border-box;
}

.time {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

button {
    margin: 0 5px;
    height: 30px;
    width: 45px;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    background-color: rgb(0, 162, 255);
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
}

.one, .two {
    width: 90px;
    height: 150px;
    background-color: rgb(56, 56, 56);
    box-shadow: inset 0 0 8px 1px #000, inset 0 0 0 4px #606c78, 0 10px 12px #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.two {
    flex-direction: column;
}

.dot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid #555;
}
